{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<style type="text/css" media="screen">
.container-fluid {
  font-size: 130%!important;
}
p{
  font-size:50%;
  font-family:"Helvetica";
}
.glyphicon {
  font-size: 30px;
}
table{
  margin-top: 40px;
}
</style>
<head>
  <meta charset="utf-8">
  <title></title>

</head>

<body>

  <div class="container">

    <table>

        <tr>

          <td>
            <span class='glyphicon glyphicon-exclamation-sign'></span>
          </td>
          <td style="text-align:center;vertical-align:middle;font-family:'monaco';font-size:120%">&nbsp;Erreur : vous devez entrer un nom d'artiste</td>
        </tr>

      </table>

  </div>

</body>
</html>
{% endblock %}
